In [14]:
import numpy as np
import pandas as ps
L = 1

def a_coef(x):
    return x + 4

def psi(t):
    return 16*np.exp(-2*t)

def psi1(t):
    return -32*np.exp(-2*t)

def psi2(t):
    return 64*np.exp(-2*t)

def psi3(t):
    return -128*np.exp(-2*t)

def analytical(x, t):
    return np.exp(-2*(t - np.log(x + 4)))

def p(array):
    return ps.DataFrame(array)
#return ps.DataFrame(array)[2*np.linspace(0, 10, 11)]

def utx(array, x, t):
    return ps.DataFrame(array, t, x)

def numerical(N):
    h = L/(N-1)
    x = np.linspace(0, L, N)

    t = [0]
    tau = h/4
    
    a = a_coef(x)  
    a0 = a[0]

    #заполнение сетки  
    u = (x + 4)**2   # u(x, t=0)
    
    while t[len(t) - 1] <= 1:
    
        n = len(t) - 1
        u = np.vstack((u, np.zeros(len(x))))       # добавление n+1 слоя по t
        t.append(t[n] + tau)  # инкрементирование по t

        # чтобы получить значения u[n+1][1], u[n+1][2] нужны u'[n+1][0], u"[n+1][0], u'''[n+1][0]
        u1 = -psi1(t[n+1])/a0                              # u'[n+1][0]
        u2 = (psi2(t[n+1]) + psi1(t[n+1]))/(a0**2)         # u"[n+1][0]
        u3 = -psi3(t[n+1])/(a0**3) - 3*u2/a0 - u1/(a0**2)  # u'''[n+1][0]

        # заполнение n+1 слоя
        u[n+1][0] = psi(t[n+1])
        u[n+1][1] = u[n+1][0] + u1*h + u2*h**2/2 + u3*h**3/6
        u[n+1][2] = u[n+1][0] + u1*2*h + u2*2*h**2 + u3*4*h**3/3
        for m in range(3, len(x)):  
            u[n+1][m] = u[n][m] + (tau/(6*h))*(x[m] + 4)*(1 - tau/2 + tau**2/6)*(2*u[n][m-3] - 9*u[n][m-2] + 18*u[n][m-1] - 11*u[n][m]) + (tau**2/(2*h**2))*(1 - tau)*(-u[n][m-3] + 4*u[n][m-2] - 5*u[n][m-1] + 2*u[n][m])*(x[m] + 4)**2 - (tau**3/(6*h**3))*(-u[n][m-3] + 3*u[n][m-2] - 3*u[n][m-1] + u[n][m])*(x[m] + 4)**3
    x_output = np.linspace(0, 1, 11)
    u_output = np.zeros(11)
    u_M = u[int(round(1/tau))]
    for i in range(11):
        u_output[i] = u_M[int(round(x_output[i]/h))]
    return u_output

def output(N):
    print('число узлов: ' + str(N))
    x_output = np.linspace(0, 1, 11)
    array = np.zeros((11, 4))
    array.T[0] = x_output
    array.T[1] = analytical(x_output, 1)
    array.T[2] = numerical(N)
    array.T[3] = np.fabs(array.T[2] - array.T[1])
    columns = ['x', 'analytical', 'numerical', 'rate']
    return ps.DataFrame(array, x_output, columns)

In [15]:
output(11)

число узлов: 11

       x  analytical  numerical          rate
0.0  0.0    2.165365   2.165365  1.776357e-15
0.1  0.1    2.274986   2.274986  1.776357e-15
0.2  0.2    2.387314   2.387314  2.664535e-15
0.3  0.3    2.502349   2.502349  6.597396e-07
0.4  0.4    2.620091   2.620090  1.339050e-06
0.5  0.5    2.740539   2.740537  2.068898e-06
0.6  0.6    2.863695   2.863692  2.844155e-06
0.7  0.7    2.989556   2.989553  3.666248e-06
0.8  0.8    3.118125   3.118120  4.535651e-06
0.9  0.9    3.249400   3.249395  5.453015e-06
1.0  1.0    3.383382   3.383376  6.418937e-06

In [16]:
output(21)

число узлов: 21

       x  analytical  numerical          rate
0.0  0.0    2.165365   2.165365  7.105427e-15
0.1  0.1    2.274986   2.274986  7.549517e-15
0.2  0.2    2.387314   2.387314  7.693291e-08
0.3  0.3    2.502349   2.502349  1.588660e-07
0.4  0.4    2.620091   2.620091  2.463566e-07
0.5  0.5    2.740539   2.740539  3.394947e-07
0.6  0.6    2.863695   2.863694  4.383613e-07
0.7  0.7    2.989556   2.989556  5.430354e-07
0.8  0.8    3.118125   3.118124  6.535944e-07
0.9  0.9    3.249400   3.249399  7.701141e-07
1.0  1.0    3.383382   3.383381  8.926684e-07

In [17]:
output(41)

число узлов: 41

       x  analytical  numerical          rate
0.0  0.0    2.165365   2.165365  1.154632e-14
0.1  0.1    2.274986   2.274986  4.604459e-09
0.2  0.2    2.387314   2.387314  1.428941e-08
0.3  0.3    2.502349   2.502349  2.465788e-08
0.4  0.4    2.620091   2.620091  3.572045e-08
0.5  0.5    2.740539   2.740539  4.748737e-08
0.6  0.6    2.863695   2.863695  5.996863e-08
0.7  0.7    2.989556   2.989556  7.317401e-08
0.8  0.8    3.118125   3.118125  8.711308e-08
0.9  0.9    3.249400   3.249400  1.017952e-07
1.0  1.0    3.383382   3.383382  1.172296e-07

In [18]:
output(81)

число узлов: 81

       x  analytical  numerical          rate
0.0  0.0    2.165365   2.165365  2.486900e-14
0.1  0.1    2.274986   2.274986  8.593077e-10
0.2  0.2    2.387314   2.387314  2.078021e-09
0.3  0.3    2.502349   2.502349  3.382104e-09
0.4  0.4    2.620091   2.620091  4.772860e-09
0.5  0.5    2.740539   2.740539  6.251556e-09
0.6  0.6    2.863695   2.863695  7.819443e-09
0.7  0.7    2.989556   2.989556  9.477731e-09
0.8  0.8    3.118125   3.118125  1.122762e-08
0.9  0.9    3.249400   3.249400  1.307027e-08
1.0  1.0    3.383382   3.383382  1.500681e-08

In [19]:
output(161)

число узлов: 161

       x  analytical  numerical          rate
0.0  0.0    2.165365   2.165365  4.307665e-14
0.1  0.1    2.274986   2.274986  1.251803e-10
0.2  0.2    2.387314   2.387314  2.780296e-10
0.3  0.3    2.502349   2.502349  4.415450e-10
0.4  0.4    2.620091   2.620091  6.158865e-10
0.5  0.5    2.740539   2.740539  8.012164e-10
0.6  0.6    2.863695   2.863695  9.976890e-10
0.7  0.7    2.989556   2.989556  1.205450e-09
0.8  0.8    3.118125   3.118125  1.424661e-09
0.9  0.9    3.249400   3.249400  1.655455e-09
1.0  1.0    3.383382   3.383382  1.897984e-09

In [20]:
output(321)

число узлов: 321

       x  analytical  numerical          rate
0.0  0.0    2.165365   2.165365  1.016964e-13
0.1  0.1    2.274986   2.274986  1.664757e-11
0.2  0.2    2.387314   2.387314  3.578915e-11
0.3  0.3    2.502349   2.502349  5.626166e-11
0.4  0.4    2.620091   2.620091  7.809042e-11
0.5  0.5    2.740539   2.740539  1.012870e-10
0.6  0.6    2.863695   2.863695  1.258758e-10
0.7  0.7    2.989556   2.989556  1.518901e-10
0.8  0.8    3.118125   3.118125  1.793183e-10
0.9  0.9    3.249400   3.249400  2.082046e-10
1.0  1.0    3.383382   3.383382  2.385465e-10

In [21]:
output(641)

число узлов: 641

       x  analytical  numerical          rate
0.0  0.0    2.165365   2.165365  1.736389e-13
0.1  0.1    2.274986   2.274986  1.988187e-12
0.2  0.2    2.387314   2.387314  4.377831e-12
0.3  0.3    2.502349   2.502349  6.930900e-12
0.4  0.4    2.620091   2.620091  9.664713e-12
0.5  0.5    2.740539   2.740539  1.256550e-11
0.6  0.6    2.863695   2.863695  1.565237e-11
0.7  0.7    2.989556   2.989556  1.887512e-11
0.8  0.8    3.118125   3.118125  2.232836e-11
0.9  0.9    3.249400   3.249400  2.591616e-11
1.0  1.0    3.383382   3.383382  2.973488e-11

In [22]:
output(1280)

число узлов: 1280

       x  analytical  numerical          rate
0.0  0.0    2.165365   2.165365  3.419487e-13
0.1  0.1    2.274986   2.275073  8.676778e-05
0.2  0.2    2.387314   2.387492  1.777697e-04
0.3  0.3    2.502349   2.502622  2.730059e-04
0.4  0.4    2.620091   2.620464  3.724763e-04
0.5  0.5    2.740539   2.741016  4.761808e-04
0.6  0.6    2.863695   2.863305  3.893799e-04
0.7  0.7    2.989556   2.989258  2.983862e-04
0.8  0.8    3.118125   3.117922  2.031583e-04
0.9  0.9    3.249400   3.249296  1.036963e-04
1.0  1.0    3.383382   3.383382  4.022560e-12